In [18]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler # To normalise columns
from sklearn.ensemble import RandomForestClassifier

Importing dataset

In [19]:
train_df = pd.read_csv('../data/raw/train.csv')
test_df = pd.read_csv('../data/raw/test.csv')

Getting data summary of the training set

In [49]:
train_df.describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,6856.971000,62.777875,18.576662,7.267088,2.807037,6.231212,44.608900,0.264525,0.816562,19.583700,...,1.947788,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,3977.447579,17.118774,8.935263,4.318732,1.693373,3.584559,6.155453,0.384093,1.060964,16.003155,...,1.252352,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,4.000000,-8.000000,2.900000,0.800000,0.300000,0.800000,21.300000,-1.100000,-3.100000,-38.500000,...,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,3413.750000,51.000000,12.000000,4.100000,1.600000,3.600000,40.400000,0.000000,0.100000,8.400000,...,1.000000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,6787.500000,63.000000,16.800000,6.300000,2.400000,5.400000,44.400000,0.300000,0.800000,19.500000,...,1.700000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,10299.250000,74.000000,23.500000,9.500000,3.700000,8.100000,48.700000,0.500000,1.500000,30.600000,...,2.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,13798.000000,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,82.100000,...,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

Selecting columns for training, target and as test set

In [21]:
train_set = train_df.loc[:, 'GP':'TOV']     # Selecting all columns except Id and TARGET_5Yrs as training set
target_set = train_df.loc[:, 'TARGET_5Yrs'] # Selecting TARGET_5Yrs as the target

test_set = test_df.loc[:, 'GP':'TOV'] # Test set except Id

Scaling columns values

In [39]:
scaler = MinMaxScaler() # Min max scaler

train_norm = scaler.fit_transform(train_set) # Scaling train set
test_norm = scaler.fit_transform(test_set)    # Scaling test

train_set = pd.DataFrame(np.squeeze(train_norm), columns=train_set.columns) # Converting numpy array result to pandas dataframe
test_set = pd.DataFrame(np.squeeze(test_norm), columns=test_set.columns)

Training random forest

In [47]:
clf = RandomForestClassifier(n_estimators=100, n_jobs=1, random_state = 44, max_features="auto")
clf.fit(train_set, target_set)

RandomForestClassifier(class_weight='balanced', n_jobs=1, random_state=42)

In [48]:
pred = clf.predict(test_set)
id_df = test_df.loc[:,'Id']

result  = {'Id': id_df, 'TARGET_5Yrs': pred} 
result = pd.DataFrame(data = result)
result.to_csv("submission_v3.csv", index = False)