# **Advanced Data Science for Innovation - Assignment 1**

## NBA Career Prediction: Predict 5-Year Longevity for NBA Rookies
**Student Name:** Sean Williams

**Team Name:** Group 1
* Nuwan Munasinghe
* Wenying Wu
* Nathan Fragar
* Sean Williams
* Carol Myhill

## Environment Setup

In [1]:
import pandas as pd
from importlib.machinery import SourceFileLoader
dataprep = SourceFileLoader('prep', '../src/data/prepare.py').load_module()
sets = SourceFileLoader('sets', '../src/data/sets.py').load_module()
from sklearn.preprocessing import MinMaxScaler

# 2. Data Preparation

**<u>Collect Initial Data</u>**

In [2]:
df_train = pd.read_csv('../data/raw/train.csv')
target_name = 'TARGET_5Yrs'

---
**<u>Create new dataframe for data cleansing</u>**

In [3]:
df_cleaned = df_train.copy()

---
**<u>Construct New Features</u>**

---
**<u>Drop Unnessary Features</u>**

In [4]:
df_cleaned = dataprep.drop_features(df_cleaned, ['Id'])
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GP           8000 non-null   int64
 1   MIN          8000 non-null   float64
 2   PTS          8000 non-null   float64
 3   FGM          8000 non-null   float64
 4   FGA          8000 non-null   float64
 5   FG%          8000 non-null   float64
 6   3P Made      8000 non-null   float64
 7   3PA          8000 non-null   float64
 8   3P%          8000 non-null   float64
 9   FTM          8000 non-null   float64
 10  FTA          8000 non-null   float64
 11  FT%          8000 non-null   float64
 12  OREB         8000 non-null   float64
 13  DREB         8000 non-null   float64
 14  REB          8000 non-null   float64
 15  AST          8000 non-null   float64
 16  STL          8000 non-null   float64
 17  BLK          8000 non-null   float64
 18  TOV          8000 non-null   float64
 19  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(2)
memory usage: 1.2 MB

---
**<u>Scale Features</u>**

In [5]:
df_cleaned = dataprep.scale_features(df_cleaned, MinMaxScaler(), target_name)

In [6]:
df_cleaned.describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,0.540289,0.221109,0.193625,0.195862,0.193282,0.507819,0.487330,0.502123,0.481623,0.171917,0.175476,0.464686,0.195970,0.182269,0.188801,0.126915,0.180191,0.493076,0.222647,0.833625
std,0.130678,0.126026,0.129303,0.132295,0.127564,0.134106,0.137176,0.136021,0.132696,0.114340,0.112825,0.057247,0.142849,0.128910,0.133664,0.105936,0.113229,0.022311,0.139090,0.372440
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.450382,0.128350,0.098802,0.101562,0.099644,0.416122,0.392857,0.410256,0.388889,0.086420,0.090090,0.429748,0.090909,0.083333,0.089744,0.054688,0.083333,0.489130,0.115385,1.000000
50%,0.541985,0.196051,0.164671,0.164062,0.163701,0.503268,0.500000,0.500000,0.480929,0.148148,0.153153,0.464874,0.163636,0.157407,0.160256,0.101562,0.166667,0.491848,0.192308,1.000000
75%,0.625954,0.290550,0.260479,0.265625,0.259786,0.596950,0.571429,0.589744,0.572968,0.234568,0.234234,0.498353,0.272727,0.250000,0.256410,0.171875,0.250000,0.497283,0.288462,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

---
**<u>Split dataset into Train and Validation sets</u>**

In [7]:
X_train, y_train, X_val, y_val = dataprep.split_sets(df_cleaned, target_name)

In [8]:
X_train.describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
count,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000
mean,0.540218,0.220344,0.192940,0.195176,0.192463,0.508142,0.487360,0.501877,0.481427,0.170816,0.174437,0.464368,0.195585,0.181790,0.188311,0.126111,0.179479,0.492990,0.221469
std,0.131079,0.126095,0.129343,0.132259,0.127318,0.133566,0.137512,0.136274,0.132314,0.114211,0.112620,0.058024,0.142395,0.128561,0.133307,0.104886,0.113448,0.020552,0.138538
min,0.038168,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.059783,0.000000
25%,0.450382,0.126939,0.095808,0.093750,0.096085,0.418301,0.392857,0.410256,0.389718,0.086420,0.090090,0.429199,0.090909,0.083333,0.089744,0.054688,0.083333,0.489130,0.115385
50%,0.541985,0.196051,0.164671,0.164062,0.163701,0.503268,0.500000,0.500000,0.480929,0.148148,0.153153,0.464325,0.163636,0.157407,0.160256,0.101562,0.166667,0.491848,0.192308
75%,0.625954,0.289140,0.260479,0.265625,0.259786,0.596950,0.571429,0.589744,0.573176,0.234568,0.234234,0.498353,0.272727,0.250000,0.256410,0.171875,0.250000,0.497283,0.288462
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.964286,0.987179,0.950249,0.938272,0.873874,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.980769

In [9]:
X_val.describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.540573,0.224171,0.196368,0.198608,0.196555,0.506529,0.487210,0.503109,0.482406,0.176319,0.179634,0.465958,0.197511,0.184184,0.190761,0.130132,0.183038,0.493421,0.227356
std,0.129102,0.125745,0.129147,0.132445,0.128534,0.136279,0.135868,0.135044,0.134253,0.114784,0.113581,0.054028,0.144686,0.130316,0.135105,0.110013,0.112340,0.028277,0.141223
min,0.000000,0.005642,0.002994,0.007812,0.007117,0.093682,0.000000,0.064103,0.068823,0.000000,0.000000,0.173436,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.458015,0.131171,0.101796,0.101562,0.102313,0.413943,0.392857,0.410256,0.386401,0.098765,0.099099,0.432492,0.090909,0.083333,0.089744,0.054688,0.111111,0.489130,0.115385
50%,0.541985,0.197461,0.167665,0.171875,0.167260,0.501089,0.500000,0.500000,0.480100,0.148148,0.153153,0.465423,0.163636,0.157407,0.160256,0.101562,0.166667,0.491848,0.192308
75%,0.625954,0.295134,0.260479,0.265625,0.263345,0.593137,0.571429,0.589744,0.572968,0.234568,0.243243,0.498902,0.272727,0.250000,0.256410,0.171875,0.250000,0.497283,0.307692
max,0.984733,0.909732,0.931138,0.914062,0.882562,0.958606,1.000000,1.000000,1.000000,1.000000,1.000000,0.718990,0.981818,0.981481,0.871795,0.929688,0.694444,0.885870,1.000000

---
**<u>Print observation count and Frequency of target variables for split datasets</u>**

In [10]:
print('Observations in train dataset = ' + str(y_train.shape))
print('Frequency of target variable in train dataset')
y_train.value_counts(normalize=True)

Observations in train dataset = (6400,)
Frequency of target variable in train dataset

1    0.833594
0    0.166406
Name: TARGET_5Yrs, dtype: float64

In [11]:
print('Observations in validation dataset = ' + str(y_val.shape))
print('Frequency of target variable in validation dataset')
y_val.value_counts(normalize=True)

Observations in validation dataset = (1600,)
Frequency of target variable in validation dataset

1    0.83375
0    0.16625
Name: TARGET_5Yrs, dtype: float64

**Observations:**
* Distribution of target variable consistent across train and validation datasets and consistent with original dataset

---
**<u>Save datasets for modelling</u>**

In [12]:
sets.save_sets(X_train, y_train, X_val, y_val)